/* Testimonial Section - Background */
.testimonial {
  /* background: linear-gradient(135deg, #380a6b 30%, #4a0a46 70%); */
  padding: 30px 15px;
  text-align: center;
}

/* Scroll Wrapper */
.testimonial-wrapper {
  overflow: hidden;
  position: relative;
  padding: 15px 0;
}

/* Scroll Container */
.testimonial-scroll {
  display: flex;
  white-space: nowrap;
}

/* Testimonial Card */
.testimonial-card {
  background-color: var(--dark-color);
  padding: 20px;
  margin: 12px;
  border-radius: 10px;
  min-width: 400px;
  max-width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-height: 120px;
  position: relative;
}

/* Hover Effect */
.testimonial-card:hover {
  transform: translateY(-5px);
}

/* Quote content at the top */
.testimonial-content {
  margin-bottom: 20px;
}

.testimonial-content p.quote {
  line-height: 1.5;
  color: var(--acs-copilot-primary-text-color);
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
  word-wrap: break-word;
  font-style: italic;
  position: relative;
  padding-left: 15px;
}

.testimonial-content p.quote::before {
  content: '"';
  font-size: 24px;
  position: absolute;
  left: 0;
  top: -5px;
}

.testimonial-content p.quote::after {
  content: '"';
  font-size: 24px;
}

/* Author info at the bottom right */
.testimonial-author {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.author-info {
  text-align: right;
}

.author-info h5 {
  margin: 0;
  color: var(--acs-copilot-primary-text-color);
  font-weight: bold;
  font-size: large;
  /* text-decoration: underline 2px; */
}

.author-info p {
  margin: 5px 0;
}

.author-info a {
  color: var(--acs-copilot-primary-text-color);
  text-decoration: none;
  font-size: small;
}

.author-info a:hover {
  text-decoration: underline;
}

/* Scroll Animation Containers */
.testimonial-scroll .testimonial-content-wrapper {
  display: flex;
  animation: scroll-left 50s linear infinite;
}

.testimonial-scroll.bottom .testimonial-content-wrapper {
  animation: scroll-right 50s linear infinite;
}

/* Smooth Scrolling Animations */
@keyframes scroll-left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes scroll-right {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}
